@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

body{
    background: rgb(19,27,43);
    background: linear-gradient(90deg, rgba(19,27,43,1) 0%, rgba(29,52,78,1) 100%); 
}

.left-container{
    max-width: 35%;
}

.right-container{
    max-width: 55%;
    width: 55%;
    
}

.right-container-wrapper{
    margin-top: -24em;
}

.project-container:hover{
    background-color: #adadad3d;
    border-radius: 0.5rem;
    transition: 0.5s;
    cursor: pointer;
}

.project-container:hover .project-year{
    color: #bebebe;
    transition: 0.5s;
}

.project-container:hover .project-desc{
    color: #bebebe;
    transition: 0.5s;
}


.project-container:hover .project-title{
    color: #db5400;
    transition: 0.5s;
}

.experience-container:hover{
    background-color: #adadad3d;
    border-radius: 0.5rem;
    transition: 0.5s;
    cursor: pointer;
    
}

.experience-container:hover .experience-month {
    color: #bebebe;
    transition: 0.5s;
}

.experience-container:hover .experience-desc{
    color: #e2e2e2;
    transition: 0.5s;
}


.experience-container:hover .experience-title{
    color: #4d84eb;
    transition: 0.5s;
}


.menu-item--active {
    font-size: 3.2em;
    color:red;
  }


